@charset "UTF-8";
@import "reset.css";
@import "../fonts/iconfont.css";
@mixin wh($w:100%, $h:100%) {
    width: $w;
    height: $h;
}

@mixin flex($dir:row) {
    display: flex;
    flex-direction: $dir;
}

.wrap {
    @include wh();
    @include flex(column);
    //	overflow: hidden;
}

html,
body,
.wrap {
    width: 100%;
    height: 100%;
    min-width: 320px;
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 625%;
}

header {
    @include wh($w: 100%, $h:0.45rem);
    display: flex;
    justify-content: space-between;
    line-height: 0.45rem;
    text-align: center;
    flex-shrink: 1;
    flex-grow: 0;
    p {
        font-size: 0.16rem;
        color: #999;
    }
    .i1 {
        width: 10%;
    }
    .p1 {
        width: 80%;
    }
    .p2 {
        width: 10%;
        position: relative;
        .i3 {
            right: 0.1rem;
            position: absolute;
        }
        .i2 {
            right: 0.3rem;
            position: absolute;
        }
    }
}

section {
    @include wh($w: 100%, $h:auto);
    flex-grow: 1;
    ul {
        width: 100%;
        height: 0.8rem;
        li {
            width: 25%;
            height: 100%;
            float: left;
            text-align: center;
            i {
                padding: 0.1rem;
                border: 0.01rem solid #999;
                line-height: 0.3rem;
                border-radius: 50%;
                font-size: 0.16rem;
            }
            p {
                margin-top: 0.1rem;
            }
        }
    }
    .center {
        width: 100%;
        height: 100%;
        text-align: center;
        .p3 {
            margin-top: 50%;
        }
        p {
            font-size: 0.16rem;
            color: #999;
        }
    }
}

footer {
    @include wh($w: 100%, $h:1rem);
    flex-shrink: 1;
    flex-grow: 0;
    text-align: center;
    @include flex();
    border-top: 0.01rem solid #999;
    line-height: 1rem;
    .p4 {
        width: 10%;
        i{
            padding: 0.1rem;
            border: 0.01rem solid #999;
            border-radius: 50%;
        }
    }
    .p5 {
        width: 80%;
        i{
            padding: 0.1rem 0.5rem;
            border: 0.01rem solid #999;
            border-radius: 50%;
        }
    }
}